<div class="as-search-wrapper" role="main">
    <div class="as-navtuck-wrapper">
        <div class="as-l-fullwidth  as-navtuck" data-events="event52">
            <div>
                <div class="pd-billboard pd-category-header">
                    <div class="pd-l-plate-scale">
                        <div class="pd-billboard-background">
                            <img src="./assets/music-audio-alp-201709" alt="" width="1440" height="320" data-scale-params-2="wid=2880&amp;hei=640&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1503948581306" class="pd-billboard-hero ir">
                        </div>
                        <div class="pd-billboard-info">
                            <h1 class="pd-billboard-header pd-util-compact-small-18">Tienda e-commerce</h1>
                        </div>
                    </div>
                </div>
            </div>
    <div class="as-search-results as-filter-open as-category-landing as-desktop" id="as-search-results">

        
            <div class="as-accessories" id="as-accessories">
                 <h1>
                    Failure
                </h1>
                    
                
                </div>
                <div class="as-accessories-results  as-search-desktop">
                </div>
                       
                      
                            <img src="./assets/fail.jpg"  alt="" width="445" height="445" >

<form action="/" method="get">

                            <button type="submit" class="mercadopago-button" formmethod="get">Home</button>
</form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.mercadopago.com/v2/security.js" view="failure"></script>